.flip-card {
    width: 127px;
    height: 127px;
    position: relative;
    margin: auto;
    perspective: 1000; /* 3D effect */
    /* background-color: transparent; */
    /* border: 1px solid #f1f1f1;*/
    /* z-index: 1; /* stack order of the relative position */
}

/* This container is needed to position the front and back side */
.flip {
    transform-style: preserve-3d;
    transition: transform 1.0s linear;
}
.flip-card:hover .flip {
  transform: rotateY(180deg);
  /* box-shadow: -5px 5px 5px #aaa; */
}

/* Position the front and back side */
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front {
    background-color: transparent;
    color: black;
}
.back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}
